<h1>Edit Task</h1>
<%= form_for(@task) do |f| %>
  <div class="form-group">
    <p><%= f.label :title %></p>
    <p><%= f.text_field :title %></p>
  </div>
  <div class="form-group">
    <p><%= f.label :details %></p>
    <p><%= f.text_field :details %></p>
  </div>
  <div class="form-group">
    <p><%= f.check_box :completed, {}, checked = true%> Completed</p>
  </div>
  <div>
    <p><%= f.submit %></p>
  </div>
<% end %>
<p><%= link_to '<i class="fa fa-reply" aria-hidden="true"></i> Back to list'.html_safe, tasks_path %></p>
